body {
  font-family: Arial, sans-serif;
  background-color: rgb(17, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  position: relative;
  background-color: #0a0a0a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(218, 216, 216, 0.1);
  padding: 20px;
  color: white;
}

#main-name {
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
}

#refresh {
  text-decoration: none;
  color: white;
}

#refresh:hover {
  cursor: pointer;
}

#project-container {
  display: flex;
  flex-direction: 2r 3c;
  flex-wrap: wrap;
  margin-top: 70px;
}

.flex-itemBtn {
  height: 100px;
  width: 100px;
  flex: 25%;
  box-shadow: 1px 1px rgba(235, 252, 3, 0.2);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 35px 35px 35px 35px;
  margin: 10px; 
}

.flex-itemBtn:hover {
  opacity: 0.7;
}

#to-do-list-app {
  background-image: url(pictures/to-do-list-pic.png);
  background-size: cover;
  background-position: center;
}